.Box {
    width: 100%;
}
.images {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 5vh 0;
    height: 80vh;
    max-height: 90vw;
    position: relative;
}
.images img {
    position: absolute;
    max-width: 50vw;
}
.images img.left {
    transform: translateX(-12vw);
    max-height: 65%;
}
.images img.right {
    transform: translateX(12vw);
    max-height: 100%;
}