section.news .head {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 300%;
    padding-bottom: 1rem;
}
section.news .head svg {
    height: 30px;
    width: 30px;
}
section.news {
    min-height: 100vh;
    height: fit-content;
}
section.news > div {
    border-bottom: 1px solid var(--black-color);
}
section.news .news {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -o-box;
    overflow-x: auto;
    margin: 0 0 2rem;
}
section.news .news > div {
    width: 100%;
    margin-right: 3rem;
    padding: 2rem 0;
}
section.news .news > div:last-of-type{
    margin-right: 0;
}
section.news .news .image img {
    width: 100%;
    max-height: 370px;
    object-fit: cover;
}
section.news .news .info {
    font-size: 150%;
}
section.news .news .info .title {
    font-size: 60%;
    font-weight: bolder;
    padding: 0.5rem 0;
}
@media screen and (min-width: 900px) {
    section.news .news > div {
        width: calc(50% - 1.5rem);
    }
    section.news .news .info {
        font-size: 220%;
    }
    section.news .news .info .title {
        font-size: 50%;
        padding: 1rem 0;
    }
}